aws_region = "us-east-1"
controlshift_environment = "production"
controlshift_hostname = "demo.controlshiftlabs.com"
controlshift_organization_slug = "xxxxxxx"
failed_manifest_prefix = "failed"
failure_topic_name = "ControlshiftLambdaLoaderFailure"
failure_topic_name_for_run_glue_job_lambda = "ControlshiftGlueJobFailure"
glue_scripts_bucket_name = "my-controlshift-glue-scripts-bucket"
manifest_bucket_name = "my-controlshift-redshift-load-manifests"
manifest_prefix = "manifests"
receiver_timeout = 60
redshift_schema = "public"
redshift_username = "xxxxx"
redshift_password = "xxxxxxxxxxxxxxxxxxxxx"
success_topic_name = "ControlshiftLambdaLoaderSuccess"
success_topic_name_for_run_glue_job_lambda = "ControlshiftGlueJobSuccess"
